div{
    background-image: linear-gradient(#7FD959,#005398);
    color: snow;
    font-size: 2ch;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h2{
    color: rgb(1, 99, 163);
}
h3{
    color: rgb(0, 122, 170);
}